<% title "Host" %>

<p>
  <strong>Name:</strong>
  <%=h @host.name %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @host.address %>
</p>
<p>
  <strong>Active:</strong>
  <%=h @host.active %>
</p>

<p>
  <%= link_to "Edit", edit_host_path(@host) %> |
  <%= link_to "Destroy", @host, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", hosts_path %>
</p>

<h2>Sites</h2>
<table>
  <%= render :partial => "sites/site_display" %>

</table>